body{
    /*background-color: rgb(103, 103, 103);*/
    background-image: url("https://fondosmil.com/fondo/456.jpg");
    background-attachment: fixed;
    background-color: rgb(34, 34, 34);
}

h1{
    margin-bottom: 20%;
    font-size: 300%;
}

h3{
    margin-top: 25px;
}

h5{
    margin-top: 25px;
    text-decoration: underline 3px;
}

#leftcolumn{
    color: white;
}

.centrarBordear {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    border: 5px solid white;
}

#margenIZQ{
    margin: 10%;
}

#margenDER{
    margin: 10%;
}